.nav-header{
    background-image: url(../../images/slider/solution/slide-bg.svg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}